@import '~rsuite/dist/styles/rsuite-dark.css';
.App {
  text-align: center;
}

/* [data-theme=dark] {
  color: #bebebe;
  background-color: #00bcd4;
} */
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  z-index: 1;
  transition: all 1s;
}
::-webkit-scrollbar-track {
  background: transparent;
  z-index: 1;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.575);
  border-radius: 4px;
  z-index: 1;
}
html, body {
  overflow: overlay;
}

hr {

  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(26, 26, 26);
  border-radius: 4px;

}


.main {
  margin-left: 56px;
} 

@media only screen and (max-width: 600px) {

  .main {
    margin-left: 0;
    margin-bottom: 5rem;
  }

}


hr.thick {

  height: 5px;

}

hr.light {

  height: 3px;

}

.seper {
  background: #0d1015;
  height: 5vh;
  margin: 1vh 0;
  transition: transform .3s ease;
}
.seper:hover {
  transform: scaleY(1.2);
  transition: transform .3s ease;
}