.pcoolbg {
    color: rgb(235, 235, 235);
    word-break: break-word;
    margin-right: 32px;
    background: #f0f8ff2e;
    border-radius: 6px;
    padding: 0 10px;
    margin-bottom: 0;
}
.avatarParent {
    display: flex;
    flex-flow: wrap;
    align-items: center;
}
.AvatarText {
    font-size: large;
    justify-content: center;
    margin-bottom: 0px;
}
.DiscordUser {
    background-color: #ffffff11;
    border-radius: 5px;
    padding: 7px;
    padding-right: 10px;
    width: auto;
    transition: transform .3s ease;
    margin-bottom: 10px;
}
.DiscordUser:hover {
    transform: scale(1.2);
    /* margin :  0 10.2rem 20.2rem; */
    transition: transform .3s ease;
}

.DiscordUser:not(:last-child) {
    /* margin-bottom: 10px; */
}
@media only screen and (max-width: 600px) {

    .DiscordUser:hover {
        transform: scale(1.05);
        margin : 1.05rem;
        transition: transform .3s ease;
        transition: margin .3s ease;
    }

}