.DiscordUserParent {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    padding: 7px;
    border-radius: 8px;
    background-color: var(--secondaryColor);

    transition: box-shadow 250ms;

}

.DiscordUserParent:hover {

    transition: box-shadow 250ms;
    box-shadow: inset 0px 0px 0px 3px var(--primaryColor), 0 0 1px 3px #0d73d4;

}

.Avatar {
    border-radius: 50%;
    margin-right: 7px;
}



.pcoolbg {
    color: rgb(235, 235, 235);
    word-break: break-word;
    margin-right: 32px;
    background: #f0f8ff2e;
    border-radius: 6px;
    padding: 0 10px;
    margin-bottom: 0;
}
.avatarParent {
    display: flex;
    flex-flow: wrap;
    align-items: center;
}
.AvatarText {
    font-size: large;
    justify-content: center;
    margin-bottom: 0px;
}
.DiscordUser {
    background-color: #ffffff11;
    border-radius: 5px;
    padding: 7px;
    padding-right: 10px;
    width: auto;
    /*min-width: 200px;*/
    transition: transform .3s ease;
    margin-bottom: 10px;
}
@media only screen and (min-width: 600px) {

    .DiscordUser:hover {
        transform: scale(1.1);
        /* margin :  0 10.2rem 20.2rem; */
        transition: transform .3s ease;
    }
    .DiscordUserParent{
        /*margin-bottom: 10px;*/
    }

}


.DiscordUser:not(:last-child) {
    /* margin-bottom: 10px; */
}
@media only screen and (max-width: 600px) {

    .DiscordUser:hover {
        transform: scale(1.05);
        /*margin : 1.05rem;*/
        transition: transform .3s ease;
    }
    .DiscordUserParent {
         margin-bottom: 10px;
    }

}