.NavBar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #1b5c9c;
    transition: width 600ms ease;
    z-index: 1;
}

.NavBar-Nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.NavBar-Item {
  width: 100%;
}

.NavBar-Item:last-child {
  margin-top: auto;
}

  
.NavBar-Link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
}
  
.NavBar-Link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.Link-text.active {
    color: var(--text-secondary);
}

.Link-text {
    overflow: hidden;
    text-overflow: clip;
    display: none;
    margin-left: 1rem;
}
.NavBar-Link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}
  
.fa-primary {
    color: #ff7eee;
  }
  
.fa-secondary {
    color: #df49a6;
  }
  
.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}
  
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
  
.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}
  
.logo-text
{
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}
  
.NavBar:hover .logo svg {
    transform: rotate(-180deg);
}
@media only screen and (max-width: 600px) {
  .NavBar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    overflow-x: auto;
  }
  .NavBar-Nav {
    height: auto;
  }
  .NavBar::-webkit-scrollbar-thumb {
    display:none;
    height: 0px;
  }
  .NavBar-Item:last-child {
    margin-top: 0;
  }

  .logo {
    display: none;
  }

  .NavBar-Nav {
    flex-direction: row;
  }

  .NavBar-Link {
    justify-content: center;
  }
  
}
@media only screen and (min-width: 600px) {
    .NavBar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
    
  
    .NavBar:hover {
      width: 16rem;
    }
  
    .NavBar:hover .Link-text {
      display: inline;
    }
  
    .NavBar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .NavBar:hover .logo-text
    {
      left: 0px;
    }
}